<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{game.id}} - Quipple</title>
    </head>
    <body>
        <h1>Lobby</h1>
        <h2>Game ID: {{game.id}}</h2>
        <h3>Current Players</h3>
        <ul>
            <li>{{game.creator.screenName}}</li>
            {{#each game.players}}
                <li>{{this.screenName}}</li>
            {{/each}}
        </ul>
        <form action="/start" method="POST">
            <input name="gameId" type="hidden" value="{{game.id}}">
            <button type="submit">Start Game</button>
        </form>
    </body>
</html>
