<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{game.id}} - Quipple</title>
        <script defer src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
        <script defer src="/lobby.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <h1>Quipple</h1>
        <h2>Game ID: {{game.id}}</h2>
        <h3>Current Players</h3>
        <ul id="playerList" data-this-player-id="{{player.id}}" data-this-player-name="{{player.screenName}}">
            <li>{{game.owner.screenName}}</li>
            {{#each game.players}}
                <li>{{this.screenName}}</li>
            {{/each}}
        </ul>
        <div class="lobby">
            <button id="startGameButton" type="button" style="display: {{startButtonDisplay}};">Start Game</button>
            <p style="display: {{waitingMessageDisplay}};">Waiting for owner to start game...</p>
        </div>
        <div class="question" style="display: none;">
            <p>TODO rest of game goes here</p>
        </div>
    </body>
</html>
